:root {
  --main-bg-color: grey;
  --website-bg-color: #fff;
  --header-bg-color: #0c111f;
  --header-website-name: #fff;
  --header-nav-color: rgba(255, 255, 255, 60%);
  --header-nav-hover: #fff;
  --header-logreg-color: #fff;
  --header-logreg-hover: #0c111f;
  --header-logreg-hoverbg: #fff;
  --header-nd-title: #e97458;
  --header-main-title: #fff;
  --header-paragraph-title: rgba(255, 255, 255, 70%);
  --header-btn-text-color: #0c111f;
  --header-btn-bg-color: linear-gradient(to right bottom, #f9ec7d, #f5b100);
  --header-ourgallery-color: #fff;
  --header-navwebsite-fontfam: "Inter", sans-serif;
  --header-nd-title-fontfam: "Inter", sans-serif;
  --header-main-title-fontfam: "Volkhov", sans-serif;
  --header-paragraph-title-fontfam: "Inter", sans-serif;
  --header-buttons-fontfam: "Inter", sans-serif;
  --experience-title: ##0c111f;
  --experience-paragraph-title: #0c111f;
  --experience-list-title-color: #0c111f;
  --experience-list-p-color: #0c111f;
  --experience-title-fontfam: "Inter", sans-serif;
  --experience-paragraph-title-fontfam: "Inter", sans-serif;
  --experience-list-title-fontfam: "Montserrat", sans-serif;
  --experience-list-p-fontfam: "Inter", sans-serif;
  --destination-title-color: #0c111f;
  --destination-paragraph-color: #0c111f;
  --destination-arrow-color: #fff;
  --destination-arrow-hover-color: #0c111f;
  --destination-list-title-color: #0c111f;
  --destination-list-p-color: rgba(12, 17, 31, 0.6);
  --destination-list-bg-color: #f7f7f7;
  --destination-price-color: rgba(12, 17, 31, 0.6);
  --destination-price-num-color: #0c111f;
  --destination-person-color: rgba(12, 17, 31, 0.6);
  --destination-btn-color: #fff;
  --destination-btn-bg-color: linear-gradient(to right, #8482ff, #7723fe);
  --destination-boxshadow-color: rgba(119, 35, 254, 0.76);
  --destination-title-fontfam: "Inter", sans-serif;
  --destination-paragraph-color: "Inter", sans-serif;
  --destination-list-title-fontfam: "Montserrat", sans-serif;
  --destination-list-p-fontfam: "Inter", sans-serif;
  --destination-price-fontfam: "Inter", sans-serif;
  --destination-price-num-fontfam: "Montserrat", sans-serif;
  --destination-person-fontfam: "Inter", sans-serif;
  --destination-btn-fontfam: "Inter", sans-serif;
  --contact-bg-color: #0c111f;
  --contact-title-color: #fff;
  --contact-p-color: rgba(255, 255, 255, 0.64);
  --contact-btn-color: #0c111f;
  --contact-bg-color: linear-gradient(to right bottom, #f9ec7d, #f5b100);
  --contact-bg-fav-color: #0c111f;
  --contact-title-fontfam: "Inter", sans-serif;
  --contact-p-fontfam: "Inter", sans-serif;
  --contact-btn-fontfam: "Inter", sans-serif;
  --opinion-main-bg-color: #f7f7f7;
  --opinion-main-title-color: #0c111f;
  --opinion-main-title-p-color: #0c111f;
  --opinion-bg-color: #fff;
  --opinion-name-color: #0c111f;
  --opinion-p-color: #0c111f;
  --opinion-arrow-bg-color: #fff;
  --opinion-arrow-bg-hover-color: #0c111f;
  --opinion-title-fontfam: "Inter", sans-serif;
  --opinion-title-p-fontfam: "Inter", sans-serif;
  --opinion-name-fontfam: "Montserrat", sans-serif;
  --opinion-p-fontfam: "Inter", sans-serif;
  --footer-bg-color: #fff;
  --foter-logo-bg-color: rgba(12, 17, 31, 0.8);
  --footer-website-color: #0c111f;
  --footer-main-p-color: #0c111f;
  --footer-link-title-color: #0c111f;
  --footer-link-list-color: #0c111f;
  --footer-rights-color: #0c111f;
  --footer-website-fontfam: "Inter", sans-serif;
  --footer-main-p-fontfam: "Inter", sans-serif;
  --footer-link-title-fontfam: "Inter", sans-serif;
  --footer-rights-fontfam: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

.container {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: var(--website-bg-color);
}

.header {
  height: 819px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: var(--header-bg-color);
}

.header__nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-website {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 44px;
  font-family: var(--header-navwebsite-fontfam);
  font-size: 18px;
  font-weight: bolder;
}

.header-fav {
  width: 50px;
  height: 50px;
  padding: 14px 18.5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 8%);
}

.fav {
  fill: #fff;
}

.header-title {
  padding-top: 16px;

  cursor: pointer;
}

.header-title a {
  color: var(--header-website-name);
  text-decoration: none;
}

.nav-section {
  padding-top: 59px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  font-family: var(--header-navwebsite-fontfam);
}

.nav__list-link a {
  font-size: 16px;
  color: var(--header-nav-color);
  text-decoration: none;

  &:hover,
  &:focus {
    cursor: pointer;
    font-weight: bold;
    color: var(--header-nav-hover);
  }
}

.header__logreg {
  padding-top: 59px;
}

.header__logreg-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  font-family: var(--header-navwebsite-fontfam);
}

.header__logreg-element a {
  width: 121px;
  height: 47px;
  padding: 12.5px 37px;
  font-size: 16px;
  font-weight: normal;
  color: var(--header-logreg-color);
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--header-logreg-hover);
    background-color: var(--header-logreg-hoverbg);
    border-radius: 25px;
  }
}

.header-main {
  padding-top: 118px;
}

.header-main__nd-title {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--header-nd-title-fontfam);
  color: var(--header-nd-title);
  letter-spacing: 1px;
}

.header-main__main-title {
  font-size: 80px;
  font-weight: bold;
  font-family: var(--header-main-title-fontfam);
  color: var(--header-main-title);
  padding-top: 17px;
  line-height: 1;
}

.header-main__p-title {
  font-size: 24px;
  font-weight: normal;
  font-family: var(--header-paragraph-title-fontfam);
  color: var(--header-paragraph-title);
  padding-top: 15px;
  padding-right: 130px;
  line-height: 1.6;
  letter-spacing: -4%;
}

.main-header__buttons {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.main-header__destination-btn {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--header-buttons-fontfam);
  color: var(--header-btn-text-color);
  background: var(--header-btn-bg-color);
  border-radius: 35px;
  padding: 6px 24px 16px 24px;
}

.main-header__fav {
  position: relative;
  top: 8px;
  background-color: black;
  border-radius: 50%;
  padding: 3px;
  padding-left: 4px;
  padding-top: 6px;
  margin-left: 14px;
}

.fav-main {
  fill: #fff;
  width: 16px;
  height: 16px;
}

.main-header__gallery-btn {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: normal;
  font-family: var(--header-buttons-fontfam);
  border: none;
  color: var(--header-ourgallery-color);
  background-color: #0c111f;
  padding-left: 40px;
}

.main-header__play {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 22px;
  border: 1pz solid black;
  box-shadow: 0 0 1px 9px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.header-btn-text {
  margin-top: 20px;
}

.main__img {
  padding-top: 51px;
  background-color: #0c111f;
  display: inline-block;
  border-radius: 12px;
}

.header-main__img {
  width: 617px;
  height: 616px;
  display: block;
  border-radius: 10px;
}

.header__section {
  display: flex;
  flex-direction: row;
}

.experience {
    display: flex;
    flex-direction: row;
  margin-top: 50px;
 padding-left: 78px;
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.experience-title {
  font-size: 48px;
  font-weight: bold;
  font-family: var(--experience-title-fontfam);
  color: var(--experience-title);
  padding-right: 260px;
}

.experience-p-title {
  font-size: 20px;
  font-weight: normal;
  font-family: var(--experience-paragraph-title-fontfam);
  color: var(--experience-paragraph-title);
  padding-right: 161px;
  line-height: 180%;
}

.experience-img {
  width: 518px;
  height: 328px;
}

.experience-section2  {
    padding-top: 50px;
  padding-right: 107px;
margin-left: 138px;
}

.exp-section2-title {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--experience-list-title-fontfam);
  color: var(--experience-list-title-color);
}

.exp-section2-p {
  font-size: 20px;
  font-weight: normal;
  font-family: var(--experience-list-p-fontfam);
  color: var(--experience-list-p-color);
  padding-top: 18px;
  padding-bottom: 35px;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
  list-style: none;
}

.experience-element{
    display: flex;
    flex-direction: row;
    gap: 34px;
  
}

.experience-element:not(:last-child){
    border-bottom: 1px solid #f7f7f7;
}

.exp-text{
display: flex;
flex-direction: column;
}

.exp-img{
    width: 38px;
    height: 38px;
    margin-top: 30px;
}

