:root {
  --main-bg-color: grey;
  --website-bg-color: #fff;
  --header-bg-color: #0c111f;
  --header-website-name: #fff;
  --header-nav-color: rgba(255, 255, 255, 60%);
  --header-nav-hover: #fff;
  --header-logreg-color: #fff;
  --header-logreg-hover: #0c111f;
  --header-logreg-hoverbg: #fff;
  --header-nd-title: #e97458;
  --header-main-title: #fff;
  --header-paragraph-title: rgba(255, 255, 255, 70%);
  --header-btn-text-color: #0c111f;
  --header-btn-bg-color: linear-gradient(to right bottom, #f9ec7d, #f5b100);
  --header-ourgallery-color: #fff;
  --header-navwebsite-fontfam: "Inter", sans-serif;
  --header-nd-title-fontfam: "Inter", sans-serif;
  --header-main-title-fontfam: "Volkhov", sans-serif;
  --header-paragraph-title-fontfam: "Inter", sans-serif;
  --header-buttons-fontfam: "Inter", sans-serif;
  --experience-title: ##0c111f;
  --experience-paragraph-title: #0c111f;
  --experience-list-title-color: #0c111f;
  --experience-list-p-color: #0c111f;
  --experience-title-fontfam: "Inter", sans-serif;
  --experience-paragraph-title-fontfam: "Inter", sans-serif;
  --experience-list-title-fontfam: "Montserrat", sans-serif;
  --experience-list-p-fontfam: "Inter", sans-serif;
  --destination-title-color: #0c111f;
  --destination-paragraph-color: #0c111f;
  --destination-arrow-color: #fff;
  --destination-arrow-hover-color: #0c111f;
  --destination-list-title-color: #0c111f;
  --destination-list-p-color: rgba(12, 17, 31, 0.6);
  --destination-list-bg-color: #f7f7f7;
  --destination-price-color: rgba(12, 17, 31, 0.6);
  --destination-price-num-color: #0c111f;
  --destination-person-color: rgba(12, 17, 31, 0.6);
  --destination-btn-color: #fff;
  --destination-btn-bg-color: linear-gradient(to right, #8482ff, #7723fe);
  --destination-boxshadow-color: rgba(119, 35, 254, 0.76);
  --destination-title-fontfam: "Inter", sans-serif;
  --destination-paragraph-fontfam: "Inter", sans-serif;
  --destination-list-title-fontfam: "Montserrat", sans-serif;
  --destination-list-p-fontfam: "Inter", sans-serif;
  --destination-price-fontfam: "Inter", sans-serif;
  --destination-price-num-fontfam: "Montserrat", sans-serif;
  --destination-person-fontfam: "Inter", sans-serif;
  --destination-btn-fontfam: "Inter", sans-serif;
  --contact-bg-color: #0c111f;
  --contact-title-color: #fff;
  --contact-p-color: rgba(255, 255, 255, 0.64);
  --contact-btn-color: #0c111f;
  --contact-bg-color: linear-gradient(to right bottom, #f9ec7d, #f5b100);
  --contact-bg-fav-color: #0c111f;
  --contact-title-fontfam: "Inter", sans-serif;
  --contact-p-fontfam: "Inter", sans-serif;
  --contact-btn-fontfam: "Inter", sans-serif;
  --opinion-main-bg-color: #f7f7f7;
  --opinion-main-title-color: #0c111f;
  --opinion-main-title-p-color: #0c111f;
  --opinion-bg-color: #fff;
  --opinion-name-color: #0c111f;
  --opinion-p-color: #0c111f;
  --opinion-arrow-bg-color: #fff;
  --opinion-arrow-bg-hover-color: #0c111f;
  --opinion-title-fontfam: "Inter", sans-serif;
  --opinion-title-p-fontfam: "Inter", sans-serif;
  --opinion-name-fontfam: "Montserrat", sans-serif;
  --opinion-p-fontfam: "Inter", sans-serif;
  --footer-bg-color: #fff;
  --foter-logo-bg-color: rgba(12, 17, 31, 0.8);
  --footer-website-color: #0c111f;
  --footer-main-p-color: #0c111f;
  --footer-link-title-color: #0c111f;
  --footer-link-list-color: #0c111f;
  --footer-rights-color: #0c111f;
  --footer-website-fontfam: "Inter", sans-serif;
  --footer-main-p-fontfam: "Inter", sans-serif;
  --footer-link-title-fontfam: "Inter", sans-serif;
  --footer-link-list-fontfam: "Montserrat", sans-serif;
  --footer-link-li23-fontfam: "Inter", sans-serif;
  --footer-rights-fontfam: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

.container {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: var(--website-bg-color);
}

.header {
  height: 819px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: var(--header-bg-color);
}

.header__nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-website {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 44px;
  font-family: var(--header-navwebsite-fontfam);
  font-size: 18px;
  font-weight: bolder;
}

.header-fav {
  width: 50px;
  height: 50px;
  padding: 14px 18.5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 8%);
}

.fav {
  fill: #fff;
}

.header-title {
  padding-top: 16px;

  cursor: pointer;
}

.header-title a {
  color: var(--header-website-name);
  text-decoration: none;
}

.nav-section {
  padding-top: 59px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  font-family: var(--header-navwebsite-fontfam);
}

.nav__list-link a {
  font-size: 16px;
  color: var(--header-nav-color);
  text-decoration: none;

  &:hover,
  &:focus {
    cursor: pointer;
    font-weight: bold;
    color: var(--header-nav-hover);
  }
}

.header__logreg {
  padding-top: 59px;
}

.header__logreg-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  font-family: var(--header-navwebsite-fontfam);
}

.header__logreg-element a {
  width: 121px;
  height: 47px;
  padding: 12.5px 37px;
  font-size: 16px;
  font-weight: normal;
  color: var(--header-logreg-color);
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--header-logreg-hover);
    background-color: var(--header-logreg-hoverbg);
    border-radius: 25px;
  }
}

.header-main {
  padding-top: 118px;
}

.header-main__nd-title {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--header-nd-title-fontfam);
  color: var(--header-nd-title);
  letter-spacing: 1px;
}

.header-main__main-title {
  font-size: 80px;
  font-weight: bold;
  font-family: var(--header-main-title-fontfam);
  color: var(--header-main-title);
  padding-top: 17px;
  line-height: 1;
}

.header-main__p-title {
  font-size: 24px;
  font-weight: normal;
  font-family: var(--header-paragraph-title-fontfam);
  color: var(--header-paragraph-title);
  padding-top: 15px;
  padding-right: 130px;
  line-height: 1.6;
  letter-spacing: -4%;
}

.main-header__buttons {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.main-header__destination-btn {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--header-buttons-fontfam);
  color: var(--header-btn-text-color);
  background: var(--header-btn-bg-color);
  border-radius: 35px;
  padding: 6px 24px 16px 24px;
  cursor: pointer;
}

.main-header__fav {
  position: relative;
  top: 8px;
  background-color: black;
  border-radius: 50%;
  padding: 3px;
  padding-left: 4px;
  padding-top: 6px;
  margin-left: 14px;
}

.fav-main {
  fill: #fff;
  width: 16px;
  height: 16px;
}

.main-header__gallery-btn {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: normal;
  font-family: var(--header-buttons-fontfam);
  border: none;
  color: var(--header-ourgallery-color);
  background-color: #0c111f;
  padding-left: 40px;
}

.main-header__play {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 22px;
  border: 1pz solid black;
  box-shadow: 0 0 1px 9px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.header-btn-text {
  margin-top: 20px;
}

.main__img {
  padding-top: 51px;
  background-color: #0c111f;
  display: inline-block;
  border-radius: 12px;
}

.header-main__img {
  width: 617px;
  height: 616px;
  display: block;
  border-radius: 10px;
}

.header__section {
  display: flex;
  flex-direction: row;
}

.experience {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-left: 78px;
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.experience-title {
  font-size: 48px;
  font-weight: bold;
  font-family: var(--experience-title-fontfam);
  color: var(--experience-title);
  padding-right: 260px;
}

.experience-p-title {
  font-size: 20px;
  font-weight: normal;
  font-family: var(--experience-paragraph-title-fontfam);
  color: var(--experience-paragraph-title);
  padding-right: 161px;
  line-height: 180%;
  opacity: 60%;
}

.experience-img {
  width: 518px;
  height: 328px;
}

.experience-section2 {
  padding-top: 50px;
  padding-right: 107px;
  margin-left: 138px;
}

.exp-section2-title {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--experience-list-title-fontfam);
  color: var(--experience-list-title-color);
}

.exp-section2-p {
  font-size: 20px;
  font-weight: normal;
  font-family: var(--experience-list-p-fontfam);
  color: var(--experience-list-p-color);
  padding-top: 18px;
  padding-bottom: 35px;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  list-style: none;
}

.experience-element {
  display: flex;
  flex-direction: row;
  gap: 34px;
  opacity: 60%;
}

.experience-element:not(:last-child) {
  border-bottom: 1px solid #f7f7f7;
}

.exp-text {
  display: flex;
  flex-direction: column;
}

.exp-img {
  width: 38px;
  height: 38px;
  margin-top: 30px;
}

.brand {
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 30px;
}

.brand__list {
  display: flex;
  flex-direction: row;
  gap: 80px;
  list-style: none;
}

.brand__element a {
  text-decoration: none;
}

.brand__element img {
  width: 150px; /* Stała szerokość */
  height: 50px; /* Stała wysokość */
  object-fit: contain;
  padding: 5px;

  &:hover,
  &:focus {
    box-shadow: 1px 1px 5px -3px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
  }
}

.destination {
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
}

.destination__title {
  font-size: 48px;
  font-weight: bold;
  font-family: var(--destination-title-fontfam);
  color: var(--destination-title-color);
}

.destination__main-p {
  font-size: 20px;
  font-weight: normal;
  font-family: var(--destination-paragraph-fontfam);
  color: var(--destination-paragraph-color);
  opacity: 60%;
  padding-top: 20px;
}

.destination__section1 {
  display: flex;
  flex-direction: row;
  gap: 240px;
}

.destination__arrows {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
}

.destination__arrows img {
  width: 50px;
  height: 50px;

  &:focus,
  &:hover {
    cursor: pointer;
    color: white;
    /* background: linear-gradient(to right bottom, #f7f7f7, #f5b100); */
    border-radius: 35%;
    border: 1px solid black;
  }
}

.destination__booking-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 60.67px;
  list-style: none;
}

.destination__booking-element {
  position: relative;
  width: 400px;
  padding-bottom: 20px;
  border-radius: 25px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.34);
}

.destination__bg {
  width: 400px;
  height: 284px;
  border-radius: 25px 25px 0 0;
}

.destination__location {
  position: absolute;
  top: 20px;
  left: 265px;
  border-radius: 50px;
}

.bg3 {
  left: 225px;
}

.destination__grade {
  width: 104px;
  height: 44px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 46px;
  background-color: rgba(12, 17, 31, 0.34);
  opacity: 100%;
}

.dest__grade-p {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 12px;
  padding-left: 50px;
  font-family: "Inter", sans-serif;
  color: white;
}

.dest__img {
  position: absolute;
  top: 14px;
  left: 18px;
}

.destination__booking-title {
  padding-top: 20.46px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--destination-list-title-fontfam);
  color: var(--destination-list-title-color);
}

.destination__booking-p {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 32px;
  font-size: 18px;
  font-weight: normal;
  font-family: var(--destination-list-p-fontfam);
  color: var(--destination-list-p-color);
  line-height: 1.6;
}

.dest__play {
  position: absolute;
  top: 100px;
  left: 170px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 22px;
  box-shadow: 0 0 1px 9px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.dest-price {
  padding-top: 32px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: normal;
  font-family: var(--destination-price-fontfam);
  color: var(--destination-price-color);
}

.dest-numb {
  padding-top: 4px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: bold;
  font-family: var(--destination-price-num-fontfam);
  color: var(--destination-price-num-color);
}

.dest-person {
  font-size: 16px;
  font-weight: normal;
  font-family: var(--destination-person-fontfam);
  color: var(--destination-person-color);
}

.dest-button {
  width: 148px;
  height: 45px;
  position: absolute;
  bottom: 20px;
  right: 15px;
  padding: 9px 20px;
  font-size: 14px;
  font-weight: normal;
  font-family: var(--destination-btn-fontfam);
  color: var(--destination-btn-color);
  background: var(--destination-btn-bg-color);
  border-radius: 45px;
  border: var(--destination-btn-bg-color);
  cursor: pointer;
}

.contact {
  width: 1440px;
  height: 598px;
  display: flex;
  flex-direction: row;
  gap: 68px;
  margin-top: 109.2px;
  background-color: #0c111f;
}

.contact__contact {
  padding-top: 77px;
  padding-left: 168px;
}

.contact__title {
  font-size: 64px;
  font-weight: bolder;
  font-family: var(--contact-title-fontfam);
  color: var(--contact-title-color);
}

.contact__p {
  margin-right: 80px;
  padding-top: 25px;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--contact-p-fontfam);
  color: var(--contact-p-color);
  line-height: 1.8;
}

.contact__btn {
  padding: 3px 24px 16px 24px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--header-buttons-fontfam);
  color: var(--header-btn-text-color);
  background: var(--header-btn-bg-color);
  border-radius: 35px;
  cursor: pointer;
}

.contact__fav {
  position: relative;
  top: 9px;
  background-color: black;
  border-radius: 50%;
  padding: 3px;
  padding-left: 4px;
  padding-top: 6px;
  margin-left: 14px;
}

.contact__img {
  width: 493.18px;
  height: 434.65px;
  margin-top: 65px;
  margin-right: 167.82px;
  border-radius: 30px;
}

.opinion {
  display: flex;
  flex-direction: row;
  padding-bottom: 81px;
  position: relative;
  background-color: #f7f7f7;
}

.opinion__arrows {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-right: 40.84px;
  padding-top: 153px;
  padding-left: 7.04px;
}

.opinion__arrow {
  width: 50px;
  height: 50x;

  &:focus,
  &:hover {
    cursor: pointer;
    border: 1px solid #0c111f;
    border-radius: 15px;
  }
}

.opinion__opinion {
  width: 600px;
  height: 250px;
  margin-top: 80px;
  margin-right: 92px;
  border-radius: 25px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.opinion__img {
  width: 63.36px;
  height: 63.36px;
  position: absolute;
  top: 52px;
  left: 90px;
  margin-left: 81.14px;
  padding: 5px;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.opinion__name {
  margin-left: 65px;
  margin-top: 8.53px;
  padding-top: 40px;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--opinion-name-fontfam);
  color: var(--opinion-name-color);
}

.opinion__stars {
  margin-top: 10px;
  margin-left: 65px;
}

.opinion__p {
  margin-top: 14px;
  margin-left: 64.64px;
  padding-right: 50px;
  font-size: 18px;
  font-family: var(--opinion-p-fontfam);
  color: var(--opinion-p-color);
  opacity: 60%;
  line-height: 1.8;
}

.opinion__titles {
  width: 522px;
  margin-right: 80px;
  padding-top: 121px;
}

.opinion__title {
  padding-right: 75px;
  font-size: 48px;
  font-weight: bold;
  font-family: var(--opinion-title-fontfam);
  color: var(--opinion-main-title-color);
}

.opinion__main-p {
  margin-top: 25px;
  font-size: 20px;
  font-family: var(--opinion-title-p-fontfam);
  color: var(--opinion-main-title-p-color);
  opacity: 60%;
}

.footer {
  padding-top: 88px;
  padding-left: 81px;
  padding-bottom: 39px;
  background-color: var(--footer-bg-color);
}

.footer__website-section {
  display: flex;
  flex-direction: row;
  gap: 33.5px;
}

.footer__website-name {
  padding-top: 17px;
  font-size: 18px;
  font-weight: bolder;
  font-family: var(--footer-website-fontfam);
  color: var(--footer-website-color);
}

.footer-fav {
  width: 50px;
  height: 50px;
  padding: 14px 18.5px;
  border-radius: 50%;
  background-color: rgba(12, 17, 31, 8%);
}

.footer__fav {
  fill: black;
}

.footer__p {
  width: 420px;
  margin-top: 15px;
  font-size: 16px;
  font-family: var(--footer-main-p-fontfam);
  color: var(--footer-main-p-color);
  opacity: 60%;
  line-height: 1.9;
}

.footer__all-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 80px;
}

.footer__link-title {
  font-size: 16px;
  font-weight: bold;
  font-family: var(--footer-link-title-fontfam);
  color: var(--footer-link-title-color);

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.footer__links{
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.footer__link-list,
.footer__link23-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
  list-style: none;
}

.footer__link23-list{
  gap: 10px;
}

.footer__link-element,
.footer__link23-element {
  font-size: 14px;
  font-family: var(--footer-link-list-fontfam);
  color: var(--footer-link-list-color);

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.footer__link23-element{
  font-family: var(--footer-link-li23-fontfam);
}

.footer__favicons{
width: 15px;
height: 15px;
margin-right: 11.44px;
}

.footer__rights{
  margin-top: 118px;
  padding-right: 80px;
  font-size: 15px;
  font-family: var(--footer-rights-fontfam);
  color: var(--footer-rights-color);
}

.footer__rights-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.footer__rights-el-link{
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.footer__rights-element a{
  color: var(--footer-rights-color);
  text-decoration: none;
}